{
  "cookies": [],
  "origins": [
    {
      "origin": "http://localhost:4200",
      "localStorage": [
        {
          "name": "authToken",
          "value": "token_YWRtaW5AZXhhbXBsZS5jb20="
        },
        {
          "name": "isAuthenticated",
          "value": "true"
        }
      ]
    }
  ]
}