{
  "compilerOptions": {
    "target": "ES2022",
    "module": "NodeNext",
    "moduleResolution": "NodeNext",
    "types": ["node"],
    "strict": true,
    "skipLibCheck": true,
    "esModuleInterop": true,
    "baseUrl": ".",
    "paths": {
      "@components/*": ["components/*"],
      "@pages/*": ["pages/*"],
      "@fixtures/*": ["fixtures/*"],
      "@helpers/*": ["helpers/*"],
      "@global/*": ["global/*"],
      "@specs/*": ["specs/*"]
    }
  },
  "include": ["./**/*.ts", "../playwright.config.ts"]
}
