import { test } from '@fixtures/index';

test.describe('Accessibility (WCAG 2.2 AA) Audits', () => {
  test(
    'should pass WCAG accessibility standards on the Home page',
    {
      tag: ['@a11y', '@regression'],
    },
    async ({ homePage, checkA11y }) => {
      await homePage.visit('/');
      await homePage.verifyHomePageLoaded();
      await checkA11y();
    }
  );
});
